.body{
    overflow-x: hidden;
    padding: 20px;
}
.topbar{
    background-color: #64e283;
    color: white;
    text-align: center;
    padding: 2px;
}
.abovequalityassurance{
    padding: 40px;
}
.navbar nav {
    
    padding: 1rem;
}

.navbar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.navbar nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar nav a:hover {
    color: #64e283;
}
.navbar nav a:active {
    color: #aaa;
}
.navbar nav a {
    transition: color 0.1s ease;

}
 .navbar{ 
        background-image: url(Images/greenpillows.avif); min-height: 600px;

        background-repeat: no-repeat ;
        position: relative;
        background-size: cover;
        background-attachment: scroll;
        display: block;
        padding: 100px 100px;
        object-fit: contain;
        margin: 0 auto;
        text-align:center;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        color: white;
        font-size: larger;
        
        
        
    }
    .textinimage{
        margin-top: 100px;
        font-weight: bolder;
    }
    .navbar .button {
        background-color: #b4a4a4;
        color: white;
        border: none;
        padding: 16px;
        width: 20%;
        font-size: small;
        font-weight: bolder;
        background: rgba(0, 1, 1, 0.5);
        border-radius: 10px;
        cursor: pointer;
    }
    .India-screen{
        text-align: center;
        font-size: large;
        font: 600;


    }
    .image img{
        border-radius:15px;
        width: 15cm;
        height: 13cm;
        box-shadow: 1px 7px 15px 1px;
        

        
    }
    .RasiScreen a{
        color: #64e283;
        text-decoration: none;

    }
    .imageandtext{
        margin-top: 2cm;
        display: flex;
        justify-content: space-around;

    }
    .RasiScreen button{
        border-radius: 30px;
        border: 1px;
        padding: 15px;
        width:40%
    }
    #knowmore{
        background-color: #64e283;
        color: white;
    }
    .RasisArray{
        text-align: center;
    }
    .Image{
        display: flex;
        justify-content: space-around;
    }
    .textiletext {
        display: flex;
        justify-content:space-around ;
       
    }
    .Image img{
        height: 12cm;
        border-radius: 10px;
        width: 7cm;
        margin: ;
        
        
    }
    .Client-Praise{
        text-align: center;
        margin-bottom: ;
        
    }
    .text{

    }
    .high-quality-printing{
        display: flex;
        justify-content: space-around;
    }

    .highqualityimage img{
        width: 10cm;
        border-radius: 10px;

    }
    .image-icons{
        display: flex;
        justify-content: space-around;
        margin-top: 2cm;
    }
    .image-icons .aditya{
       
        height: 7cm;

       
    }
    .image-icons .arvind{
       
        height: 2cm;
    
    }
    .image-icons .raymond{
        
        height: 2cm;
        margin-top: 0.4cm;
       
    }
    .image-icons img{
        height: 2cm;
        
    }
    .image-icons .raymond img{
        width: 3cm;
        height: 1cm;
        margin-top: 0.5cm;
    }
    .image-icons p{
        display: flex;
    }
    .logos{
        margin-top: 1cm;
        display: flex;
        justify-content: space-around;
        
    }
    #first-logo{
        height: 4cm;
        width: 3cm;
        
    }
    #second-logo{
        height: 1cm;
        width: 2cm;
        margin-top: 1.3cm;
    }
    #third-logo{
        height: 1cm;
        width: 4cm;
        margin-top: 1.5cm;
    }
    #fourth-logo{
        height: 2cm;
        width: 2cm;
        margin-top: 1cm;
    }
    #fifth-logo{
        height: 1.5cm;
        width: 3cm;
        margin-top: 1.5cm;
    }
    #sixth-logo{
        height: 5cm;
        width: 3cm;
    }
    .Showcasing{
        text-align: center;
    }
    .images{
        display: flex;
        justify-content: space-around;
        
    }
   
    .images img{

        padding: 10px;
        justify-content: space-around;
        
    }
    .images #floraldress{
        width: 8cm;
        height: 7cm;
        
        

    }
    .images #dresses{
        width:7cm ;
        height:7cm;
    }
    .images #bluebed{
        width:7cm;
        height:7cm;
    }

    .QualityAssurance{
        display: flex;
        justify-content: space-around;
        margin-top: 2cm;
        background-color: rgb(226, 235, 238);
        padding: 20px;

    }
    .map{
        background-image: url(Images/GoogleMapTA.webp);
        height: 15cm;
        margin-top: 2cm;
    }
    .reachout{
        text-align: center;
    }
    .contact-info{
        background-color: white;
        width: 25%;
        margin: 40px;
        padding:20px ;
        border-radius: 20px;
        box-shadow: 10px 4px 30px;

    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color:rgb(37, 37, 37);
        color: white;
    }
  .Legal ul{
    list-style-type: none;
    
}
.Legal p{
    text-align: center;
}
   .Accounts ul{
    list-style-type: none;
   }
   .Accounts p{
    text-align: center;
   }
   .partrasisarray{
    padding: 40px;
   }
#copyright{
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 20px;
}

@media only screen and (max-width: 500px) and (min-width: 0px){

    body{
    padding:0%;
   }
    .abovequalityassurance{
        padding: 40px;
    }
    .navbar nav {
        
        padding: 1rem;
       
    }
    
    .navbar nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block;
        
        background-color: #aaa;

    }
    
   
     .navbar{ 
            background-image: url(Images/greenpillows.avif); min-height: 60vh;
    
            background-repeat: no-repeat ;
            position: relative;
            background-size: cover;
            background-attachment: scroll;
            display: block;
            padding: 0px 0px;
            object-fit: contain;
            margin: 0 auto;
            text-align:center;
            background-color: rgba(0, 0, 0, 0.5);
            background-blend-mode: darken;
            color: white;
            font-size: larger;
            
            
            
        }
        .textinimage{
            margin-top: 0%;
            width: 80vw;
        }
        .navbar .button {
           
            width: 40vw;
            margin-bottom: 3%;

            font-size: small;
            font-weight: bolder;
            background: rgba(0, 1, 1, 0.5);
            border-radius: 10px;
            cursor: pointer;
        }
            .image img{
                border-radius:15px;
                width: 8cm;
                height: 5cm;
                box-shadow: 1px 7px 15px 1px;
                
        
                
            }
            .RasiScreen a{
                color: #64e283;
                text-decoration: none;
        
            }
            .imageandtext{
                margin-top: 2cm;
                display: grid;
                justify-content:none;
        
            }
            .QualityAssurance{
                display: flex;
                justify-content: space-around;
                margin-top: 2cm;
                background-color: rgb(226, 235, 238);
                padding: 0.2px;
        
           


            }

            .RasisArray{
                text-align: center;
            }
            .Image{
                display: flex;
                justify-content: space-around;

            }
            .textiletext p{
                display: flex;
                justify-content:none;
                width: 2cm;
                height: 5cm;
                font-size: small;

               
            }
            .textiletext h1{
                font-size: small;

            }
            .Image img{
                height: 5cm;
               padding: 3px;
                width: 3cm;
             
                
                
            }
            .Client-Praise{
                text-align: center;
               
                
            }

            .image-icons{
                display: flex;
                justify-content:space-around;
                margin-top: 2cm;
            }
            .image-icons .aditya{
               
                height: 7cm;
               
            }
            .image-icons .arvind{
               
                height: 2cm;
            
            }
            .image-icons .raymond{
                
                height: 2cm;
               
            }
            .image-icons img{
                height: 1.5cm;
                
            }
            .image-icons .raymond img{
                width: 2cm;
                height: 1cm;
                margin-top: 0.5cm;
            }
            .image-icons p{
                display: flex;
            }

            .high-quality-printing{
                display: block;
                justify-content: space-around;
            }
        
            .highqualityimage img{
                width: 9cm;
                border-radius: 10px;
            }

            .logos{
                margin-top: 1cm;
                display: flex;
                justify-content: space-around;
                
            }
            #first-logo{
                height: 2cm;
                
            }
            #second-logo{
                height: 0.8cm;
                width: 2cm;
                margin-top: 0.5cm;
            }
            #third-logo{
                height: 0.5cm;
                width: 1cm;
                margin-top: 0.6cm;
            }
            #fourth-logo{
                height: 1.5cm;
                width: 3cm;
                margin-top: 0.2cm;
            }
            #fifth-logo{
                height: 1cm;
                width: 2cm;
                margin-top: 0.5cm;
            }
            #sixth-logo{
                height: 2cm;
                width: 2cm;
            }
            .images{
                display: flex;
                justify-content: space-around;

                
            }
           
            .images img{
        
                padding: 10px;
                justify-content: space-around;
            
            }
            .images #floraldress{
                width: 2cm;
                height: 3cm;
    
            }
            .images #dresses{
                width:3cm ;
                height:3cm;
            }
            .images #bluebed{
                width:3cm;
                height:3cm;
            }
            .map{
                background-image: url(Images/GoogleMapTA.webp);
                height: 15cm;
                margin-top: 2cm;
            }
            .reachout{
                text-align: center;
            }
            .contact-info{
                background-color: white;
                width: 60%;
                margin: 40px;
                padding:20px ;
               
            }
        


            @media only screen and ( max-width: 800px) and (min-width: 501px){








}
@media only screen and (max-width: 1200px) and (min-width: 801px){






}